.currencies-table,
.wallet-table {
    height: 475px;

    tbody { font-size: 14px; }
}

.currencies-table th,
.currencies-table td { width: 25%; }

.wallet-table th,
.wallet-table td { width: 20%; }

.table-wrapper {
    height: 475px;
    text-align: center;
    display: flex;
    justify-content: center;
}