body { background: #F5F5F5; }

.hidden { display: none; }

main.container {
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

section {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 50px;
    width: 100%;
    margin-top: 40px;
    min-height: 500px;
}

hr.with-margin { margin: 20px 0 50px; }

input[type=submit],
input[type=button],
button:not(.no-margin){ margin-top: 25px; }

table.table thead th { border-top: 0; }

table.table td,
table.table th { vertical-align: middle; }

.user-full-name {
    margin-right: 15px;
    vertical-align: middle;
}

.navigation-icon {
    max-width: 25px;
    max-height: 25px;
    opacity: .6;
    vertical-align: middle;
    transition: 200ms opacity;
    margin-left: 10px;

    &:hover {
        opacity: 1;
    }
}