body { background: #F5F5F5; }

.hidden { display: none; }

main.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}

section {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin-top: 40px;
    min-height: 500px;
    padding: 50px;
    width: 100%;
}

hr.with-margin { margin: 20px 0 50px; }

input[type=submit],
input[type=button],
button:not(.no-margin){ margin-top: 25px; }

table.table thead th { border-top: 0; }

table.table td,
table.table th { vertical-align: middle; }
