<div style="background: #F5F5F5; padding: 50px 0;">
    <div style="width: 600px; margin: 50px auto; padding: 20px 30px; background: #fff;">
        <span style="font-size: 25px;">Dear User!</span><br><br>
        Thanks for your registration! Your account is currently inactive.<br><br>
        To complete the registration process and activate your account, click <a href="{{ link }}">HERE</a>.<br><br>
        If you have any problem, copy following link and open in your browser:<br>
        {{ link }}<br><br><hr>
        Best regards - Exchange Online
    </div>
</div>