<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalBoxTitle">Purchase of currency</h4>
</div>
<form method="POST" action="{{ purchase_form_url }}">
    <div class="modal-body">
        <div class="form-group">
            <label for="currency" class="form-control-label">Currency:</label>
            <input type="text" class="form-control" id="currency" readonly data-bind="value: test" value="{{ currency_name }}">
        </div>
        <div class="form-group">
            <label for="amount" class="form-control-label">Amount:</label>
            <input type="number" class="form-control" id="amount" min="0" step="{{ currency_unit }}" value="0" name="amount">
        </div>
        <div class="form-group">
            <label for="unitPrice" class="form-control-label">Unit price:</label>
            <input type="text" class="form-control" id="unitPrice" readonly value="{{ currency_price|number_format(2) }}" name="unit-price">
        </div>
        <div class="form-group">
            <label for="total" class="form-control-label">Total cost:</label>
            <input type="text" class="form-control" id="total" readonly value="0">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-loading-text="Please wait...">Confirm and buy!</button>
    </div>
</form>